.App {
  text-align: center;
}

.eventsCard{

  margin:20px 500px 200px 500px;
  padding: 10px 10px 10px 10px;
  min-height: 4cm;
  text-align: center;
  color: brown;
  font-weight: bold;
  box-shadow: 1px 1px 8px rgba(252, 90, 141);

}

.eventsList{

text-align: center;
color: black;


}